<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
	<title>Escriba Styles</title>
	<link href='{{ url_for('static', filename='css/escriba.css') }}' rel='stylesheet' />
</head>
<body>
	<h1>Escriba Styles</h1>
	<h2>Text and link examples</h2>
	<p>This is an example of text.</p>
	<p>This paragraph has a <a href='#' target='_blank'>link</a> inside it.</p>
	<h2>Speech examples</h2>
	<p>And then I say: <span class='speech speech-light'>I'm a light speech</span></p>
	<p>After I say: <span class='speech speech-dark'>I'm a dark speech</span></p>
	<h2>Label examples</h2>
	<p>I represent the <span class='label label-default'>default</span> label.</p>
	<p>I represent the <span class='label label-danger'>danger</span> label.</p>
	<p>I represent the <span class='label label-warning'>warning</span> label.</p>
	<p>I represent the <span class='label label-success'>success</span> label.</p>
	<p>I represent the <span class='label label-info'>info</span> label.</p>
	<p>I represent the <span class='label label-failure'>failure</span> label.</p>
</body>
</html>
