<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
	<title>Escriba Styles</title>
	<link href='{{ url_for('static', filename='css/escriba.css') }}' rel='stylesheet' />
</head>
<body>
	<h1>Escriba Styles</h1>
	<h1>Headers examples</h1>
	<p>Headers begin here</p>
	<h1>I'm header 1</h1>
	<h2>I'm header 2</h2>
	<h3>I'm header 3</h3>
	<h4>I'm header 4</h4>
	<h5>I'm header 5</h5>
	<h6>I'm header 6</h6>
	<p>Headers end here</p>
	<h2>Text and link examples</h2>
	<p>This is an example of text.</p>
	<p>This paragraph has a <a href='#' target='_blank'>link</a> inside it.</p>
	<h2>Speech examples</h2>
	<p>And then I say: <span class='speech speech-light'>I'm a light speech</span></p>
	<p>After I say: <span class='speech speech-dark'>I'm a dark speech</span></p>
	<h2>Label examples</h2>
	<p>I represent the <span class='label label-default'>default</span> label.</p>
	<p>I represent the <span class='label label-danger'>danger</span> label.</p>
	<p>I represent the <span class='label label-warning'>warning</span> label.</p>
	<p>I represent the <span class='label label-success'>success</span> label.</p>
	<p>I represent the <span class='label label-info'>info</span> label.</p>
	<p>I represent the <span class='label label-failure'>failure</span> label.</p>
	<h2>Boxes examples</h2>
	<h3>Default box</h3>
	<div class='box'>
	    <div class='box-header'>I'm the header</div>
		<div class='box-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
	<h3>Note box</h3>
	<div class='box box-note'>
	    <div class='box-header box-note-header'>I'm the header</div>
		<div class='box-body box-note-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
	<h3>Warn box</h3>
	<div class='box box-warn'>
	    <div class='box-header box-warn-header'>I'm the header</div>
		<div class='box-body box-warn-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
	<h3>Territory box</h3>
	<div class='box box-territory'>
	    <div class='box-header box-territory-header'>I'm the header</div>
		<div class='box-body box-territory-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
	<h3>Character box</h3>
	<div class='box box-character'>
	    <div class='box-header box-character-header'>I'm the header</div>
		<div class='box-body box-character-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
	<h3>Object box</h3>
	<div class='box box-object'>
	    <div class='box-header box-object-header'>I'm the header</div>
		<div class='box-body box-object-body'>
			<p>I'm the body.</p>
			<p>I'm the body. I'm a <a href='#' target='_blank'>link</a>. I'm the body.</p>
			<p>I'm the body.</p>
		</div>
	</div>
</body>
</html>
