@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #354141;
  background-color: #f6f4f8;
}
body a {
  padding: 0 0.125em 0;
  border-width: 0.0625em;
  border-style: dashed;
  border-color: transparent transparent #354141;
  text-decoration: none;
  font-weight: bold;
  color: #354141;
}
body a:hover {
  border-color: #354141;
}
h1,
h2,
h3,
h4,
h5 {
  color: #8f2525;
}
.speech {
  display: inline-block;
  padding: 0.125em 0.25em 0.125em;
  border-width: 0.0625em;
  border-style: dashed;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
}
/*
.speech-light {
	color: #253636;
	background-color: #dedede;
	border-color: #253636;
}

.speech-dark {
	color: #ceceff;
	background-color: #253636;
	border-color: #ceceff;
}
*/
.speech-light {
  color: #253636;
  background-color: #dedede;
  border-color: #253636;
}
.speech-dark {
  color: #dedede;
  background-color: #253636;
  border-color: #dedede;
}
.label {
  display: inline-block;
  padding: 0 0.125em 0;
  font-weight: bold;
}
.label-default {
  color: #4f4f4f;
  background-color: #c7c7c7;
}
.label-danger {
  color: #722c2c;
  background-color: #d2bcbc;
}
.label-warning {
  color: #72722c;
  background-color: #d2d2bc;
}
.label-success {
  color: #2c7257;
  background-color: #bcd2ca;
}
.label-info {
  color: #2c2c72;
  background-color: #bcbcd2;
}
.label-failure {
  color: #722c6d;
  background-color: #d2bcd1;
}
